body {
    background-image: url("/img/car-dealership.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    max-height: 100vh;
    z-index: -1;
}

.main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
}

.zz .btn {
    position: absolute;
    bottom: 5%;
    z-index: 500;
}

nav {
    z-index: 500;
}

.form-control {
    max-width: 250px;
}


.item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

label {

    font-size: 20px;
    margin-right: 10px;
}

form div {
    margin: 0 auto;
}

.main img {
    width: 500px;
    height: 500px;
}

img {
    width: 70%;
    height: 65%;
}
.owl-nav span{
    font-size: 50px;
    margin : 0 20px;
}
