:root{
    --primary: #6351ce;
    --gery : #acadaf;
    --secondary : #26413C;
    --quaternary : #03120E;
}

nav{
    background-color: var(--primary) !important;
    color: white !important;
}
.btn-style{
    background-color: var(--secondary) !important;
    color: white !important;
    border: unset !important;
}
.btn-style:hover{
    background-color: var(--quaternary) !important;
    color: white !important;
}
.card-header{
    background-color: var(--primary) !important;
    color: white !important;
    text-align: center;
}
.tea nav{
    background-color:white !important;
}

.zz .btn {
    position: absolute;
    bottom: 5%;
    z-index: 500;
}

.form-control {
    max-width: 250px;
}

.item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

label {

    font-size: 20px;
    margin-right: 10px;
}

form div {
    margin: 0 auto;
}

.main img {
    width: 500px;
    height: 500px;
}

img {
    width: 70%;
    height: 65%;
}
.owl-nav span{
    font-size: 50px;
    margin : 0 20px;
    color: var(--primary);
}
